*{
    margin: 0;
    padding: 2;
}
header{
    background-color: #424e61;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0;
}
.porra{
    width: 30%;

}
.cabeçalho-intem{
    display:inline-block;
    margin: 40px 16px;
    font-size: 30px;
}



